{% extends 'watch.html' %}
<div class="navbar" id="idendicatori">
    <div class="logo">
     <!-- <img alt="Global Ice Logo" height="40" src="https://oaidalleapiprodscus.blob.core.windows.net/private/org-RcpoXHkzChYnDbFAyeQ8tamr/user-ehrvabJ3DufsCu8YJ7PqY5gl/img-BsfPdUm55myzz1rDUELw5mvc.png?st=2024-09-26T11%3A22%3A14Z&amp;se=2024-09-26T13%3A22%3A14Z&amp;sp=r&amp;sv=2024-08-04&amp;sr=b&amp;rscd=inline&amp;rsct=image/png&amp;skoid=d505667d-d6c1-4a0a-bac7-5c84a87759f8&amp;sktid=a48cca56-e6da-484e-a814-9c849652bcb3&amp;skt=2024-09-25T23%3A26%3A04Z&amp;ske=2024-09-26T23%3A26%3A04Z&amp;sks=b&amp;skv=2024-08-04&amp;sig=OkLrg/mQV%2BN0acVranwQC%2BcB8JUebRCB8LOXNRvjCek%3D" width="40"/> -->
     <span>
         Mechanical watch
     </span>
    </div>
    <div class="menu">
     <a  href="#">
      Home
     </a>
     <a class="active" href="#">
      Plain Watches
     </a>
     <a href="#">
      Diamond Watches
     </a>
     <a href="#">
      Jewellery
     </a>
     <a href="#">
      Women Jewellery
     </a>
     <a href="#">
      Our Services
     </a>
     <div class="search-cart">
      <i class="fas fa-search">
      </i>
      <i class="fas fa-shopping-cart">
      </i>
     </div>
    </div>
   </div>
{% block content %}

<h1> </h1>

{% endblock content %}